<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    <html>
<body>
    <!-- navabar -->
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container">
            <a href="#intro" class="navbar-brand">
                <span class="fw-bold text-info">
                    <!-- <i class="bi bi-money"></i> -->
                    Tech Palour.
                </span>
            </a>
            <!-- toggle button for mobile nav -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
                aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- navbar links -->
            <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/inventories">Inventories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sales">Sales</a>
                    </li>
                    <li class="nav-item"></li>
                    <a class="nav-link" href="/inventories">Inventories</a>
                    </li>
                    <li class="nav-item"></li>
                    <!-- <a class="nav-link" href="#pricing">Stock</a> -->
                    </li>
                </ul>

            </div>

        </div>
    </nav>

    <!-- <body> -->
    <!-- display a list of users on a ordered list -->
    <!-- <ol>
        {% for i in rows %}
        <li>{{ i }}</li>
        {% endfor %}
    </ol>
     -->
    <!-- </body> -->
    <!-- {{rows}} -->

    <div class="container mt-3">
        <div class="col-11">
            <table class="table" id="example">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">product_id</th>
                        <th scope="col">quantity</th>
                        <th scope="col">created_at</th>
                        <th scope="col">product_name</th> 
                        <!-- <th scope="col">Edit</th> -->
                        <!-- <th scope="col">Delete</th> --> 
                    </tr>
                </thead>
                <tbody>
                    {% for i in rows %}
                    <tr>
                        <td scope="row">{{i[0]}}</td>
                        <td>{{i[1]}}</td>
                        <td>{{i[2]}}</td>
                        <td>{{i[3]}}</td>
                        <td>{{i[4]}}</td>
                        <td>{{i[5]}}</td>
                    </tr>
                    {% endfor %} 
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
        crossorigin="anonymous"></script>
    <script src="/static/Javascript/main.js"></script>
    
</body>

</html>











